.default-button{
    color: #fff;
    border: 2px solid #fff;
    font-size: 16px;
    padding: 11px 33px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .5s;
    &:hover{
        color: #c0301c;
        background-color: #fff;
    }
}