.services {
  padding: 95px 0 100px;
  color: $text;
  text-align: center;
  h2 {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 51px;
    &:after {
      content: "";
      width: 50px;
      height: 2px;
      background-color: $text;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: -28px;
    }
  }
  .title-note {
    margin-bottom: 68px;
  }
}
.services-items {
  display: flex;
  justify-content: space-between;
}
.services-item {
  max-width: 365px;
  img {
    margin-bottom: 15px;
    padding-left: 15px;
  }
  p {
    font-family: $roboto;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 24px;
    font-size: 14px;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 12px;
  }
}